{{> header}}

<body>
  <h1>Productos</h1>

  <div class="buscador">
    <form action="/productos/search" method="get">
    <input type="text" name="nombre" placeholder=" Buscar por nombre">
    <button type="submit"> Buscar</button></form>

  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.producto_nombre}}</td>
        <td>{{this.producto_precio}}</td>
        <td>
          <a href="/productos/update/{{this.id}}">Editar</a>
          <a href="/productos/delete/{{this.id}}">Eliminar</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <form action="/productos/save" method="POST">
    <input type="text" name="producto_nombre" placeholder="Nombre del producto" required>
    <input type="text" name="producto_precio" placeholder="Precio del producto" required>
    <button type="submit">Agregar Producto</button>
  </form>

  <h2> Total  Productos </h2>
  <div id="total-productos"> </div>

  <script>
    fetch('/productos/count')
      .then(response => response.json())
      .then(data => {
        document.getElementById('total-productos').innerText = `Total: ${data.total}`;
      });
  </script>

{{> footer}}
